@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#main,#quote,#weather,#clock{
    padding-bottom: 5rem;
    z-index: 1;
    opacity: 1;
}
#main{
    width: 300%;
}
#container{
    height: 100vh;
    width: 100vw;
}
.bg-img{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.6;
}
@media (max-width:850px){}

.hidden{
    display: none;
}
#login{
    padding-top: 17rem;
}
#name{
    margin-top:5rem;
}
#name ,#plan{
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#plan{
    margin-top: 10rem;
    width: 10%;
}
input::placeholder{
    color:black;
    text-align: center;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

button{
    border: 1px solid transparent;
    background: transparent;
    color: black;
}
#clock{
    font-size: 10rem;
    letter-spacing: -0.5rem;
    padding-top: 30rem;
    color:white;
    font-family: 'Roboto', sans-serif;

}
#welcome{
    padding-top: 35rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}
#weather{
    color:white;
    text-shadow: 1px 1px 0px gray;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}
#quote{
    color: black;
    font-family: 'Roboto', sans-serif;
}
#author{
    color: white;
    font-family: 'Roboto', sans-serif;
}

