@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#clock{
    margin-top: 7rem;
    font-size: 10rem;
    letter-spacing: -0.5rem;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.hidden{
    display: none;
}
#todo{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}
body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* #name_input{
    margin-top: 3rem;
} */
#login h2{
    color:white;
    font-family: 'Roboto', sans-serif;
}
#welcome{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}
#name ,#plan{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#todo h2{
color: white;
margin-top: 5rem;
}
/* #plan_input{
    margin-top: 2rem;
} */
input::placeholder{
    color:white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
li{
    display: flex;
    justify-content: space-around;
}
button{
    border: 1px solid transparent;
    background: transparent;
    color: white;
}

#weather{
    color:white;
    text-shadow: 1px 1px 0px gray;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    margin-right: 3rem;
}
#quote{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#author{
font-size: 2rem;
    color:white;
}
@media (min-width:500px) and (max-width:590px){
    #clock{
        font-size: 8.9em;
    }
}
@media (max-width:500px){
    #welcome{
        font-size: 3em;
    }
    #clock{
        font-size: 7rem;
    }
    #quote, #author{
        font-size: 2rem;
    }
}
@media (max-height:800px){
    #quote,#author{
        display: none;
    }
}
@media (max-width:380px){
    #welcome{
        font-size: 2.5rem;
    }
}