@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#clock{
    font-size: 10rem;
    letter-spacing: -0.5rem;
    color:white;
    font-family: 'Roboto', sans-serif;
}
#main{
    width: 300%;
}
body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hidden{
    display: none;
}
#login{
    margin-top: 10rem;
}
#welcome{
    margin-top: 10rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}
#name ,#plan{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#todo h2{
color: white;
margin-top: 5rem;
}
#plan{
    width: 10%;
}
input::placeholder{
    color:white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

button{
    border: 1px solid transparent;
    background: transparent;
    color: white;
}


#weather{
    color:white;
    text-shadow: 1px 1px 0px gray;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    margin-right: 3rem;
}
#quote{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#author{
    color:white;
}
